COMPOSE_PROJECT_NAME=laravel-docker

DB_ROOT_PASSWORD=secret
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=secret
DB_PORT=3306
REDIS_PORT=6379
MEILISEARCH_KEY=masterkey
MEILISEARCH_PORT=7700
MAIL_PORT=1025
MAILHOG_PORT=8025
XDEBUG_MODE=off
XDEBUG_CLIENT_HOST=host-gateway
